@font-face {
  font-family: "HelveticaLTPro";
  src: local("HelveticaLTPro-Roman") format("opentype");
  src: local("HelveticaLTPro-Bold") format("opentype");
}
body {
  font-family: HelveticaLTPro-Bold;
}

h1 {
  font-size: 5.1rem;
}
