@font-face {
  font-family: "NeueMontreal-Regular";
  src: url("../fonts/NeueMontreal-Regular.woff") format("truetype");
  font-weight: 450;
}
@font-face {
  font-family: "NeueMontreal-Bold";
  src: url("../fonts/NeueMontreal-Bold.woff") format("truetype");
  font-weight: 800;
}

:root {
  --bg-color-a: #f1f1ef;
  --bg-color-b: #fffdfa;
  --accent-color-a: #bfbdbd;
  --accent-color-b: #f82d0e;
  --accent-color-c: #040404;
  --default-font-family: NeueMontreal-Regular;
  --bold-font-family: NeueMontreal-Bold;
  --header-font-size-xl: 4.768rem;
  --header-font-size-large: 1.953rem;
  --header-font-size-medium: 1.563rem;
  --header-font-size-small: 1.25rem;
  --body-font-size: 1 rem;
}

body {
  font-family: var(--default-font-family);
  color: var(--accent-color-c);
  padding: 30px;
}

h1 {
  font-size: var(--header-font-size-xl);
  font-weight: 600;
  line-height: 0.98;
}
h2 {
  font-family: var(--bold-font-family);
  font-size: var(--header-font-size-small);
  text-transform: uppercase;
}
h3 {
  font-size: var(--header-font-size-medium);
  font-weight: 800;
  text-transform: uppercase;
}
.hero h3 {
  font-size: var(--header-font-size-small);
  text-transform: capitalize;
  padding-top: 30px;
  color: var(--accent-color-a);
}
h3.project-number {
  color: var(--accent-color-a);
}

p {
  font-size: var(--body-font-size);
}
hr {
  color: var(--accent-color-c);
  opacity: 100;
  display: block;
}

.view-more {
  font-family: "NeueMontreal-Bold";
}

.btn-branding {
  border: var(--accent-color-c) solid 1px;
  border-radius: 0;
  font-size: var(--body-font-size);
  line-height: 1;
  cursor: pointer;
  text-transform: uppercase;
  padding: 12px;
  margin-top: 60px;
}

.link {
  text-decoration: none;
  color: var(--accent-color-b);
}

.link:hover {
  color: var(--accent-color-a);
}
.content-container {
  margin: 0;
  padding: 0 0 30px 0;
}

.project-description,
.about-description {
  padding-top: 8px;
}

@media (max-width: 991px) {
  h3.project-number {
    padding-top: 8px;
    padding-right: 4px;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: var(--header-font-size-small);
  }
  h3 {
    font-size: var(--header-font-size-small);
  }
  .hero h3 {
    font-size: var(--header-font-size-small);
    padding-top: 15px;
  }
  .content-container {
    padding: 0 0 15px 0;
  }
  .btn-branding {
    margin-top: 10px;
  }
}
